<header class="bg-linear-to-t from-purple-800 via-purple-900 to-purple-950 p-8 shadow-2xl rounded-3xl my-3 max-w-2xl mx-auto border border-violet-500/20 hover:border-violet-400/40 transition-all duration-300">
  <div class="text-center space-y-3">
    <div class="inline-block backdrop-blur-sm p-2 rounded-2xl">
      <img src="task-management-logo.png" alt="task-management-logo" class="w-16 h-16 object-contain mx-auto">
    </div>
    <div>
      <h1 class="text-4xl font-Poppins font-bold text-transparent bg-clip-text bg-gradient-to-r from-violet-200 via-purple-200 to-fuchsia-200 tracking-tight drop-shadow-2xl">
        Easy Task
      </h1>
      <p class="text-sm text-violet-300 font-Poppins mt-2 max-w-xl mx-auto leading-relaxed">
        Enterprise-level task management without friction
      </p>
    </div>
  </div>
</header>
